.bubbles-kpi-view {
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
    padding: 20px;
    background: white;
    font-family: sans-serif;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.6);
}

.bubbles-kpi-label {
    font-weight: 200;
    margin: unset;
}

.bubbles-kpi-value {
    font-size: 30px;
}